#container1 {
    text-align: center;
}

#container2 {
    text-align: center;
}

#image {
    width: 300px;
    height: 300px;
    border: solid;
    border-radius: 5px;
}

img {
    display: inl;
}

.interact{
    border: solid 2px;
    border-radius: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

#show-hide {
    display: none;
}